# =========================================================
# Virtual Environments
# =========================================================

venv/
.venv/


# =========================================================
# Python
# =========================================================

__pycache__/
*.pyc
*.pyo


# =========================================================
# Environment Variables
# =========================================================

.env


# =========================================================
# VS Code
# =========================================================

.vscode/


# =========================================================
# IDE
# =========================================================

.idea/


# =========================================================
# History
# =========================================================

.history/


# =========================================================
# OS
# =========================================================

Thumbs.db
.DS_Store